.projectCard{
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    
}
.projectCard>p{
    margin-top:10px ;
    color: #ff014f;
    font-weight: 700;
    font-size: small;
}
.projectCard>a{
    text-decoration: none;
    color: #3C3E41;
}